* {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

header {
    padding-bottom: 15px;
    background-color: rgba(26, 26, 104, 0.89);
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

header h1 {
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
}

.search {
    margin-top: 20px;
}

.search-header {
    font-size: 40px;
    padding-left: 20px;
    font-family: 'Amatic SC', cursive;
    
    
}

.btn {
    background-color: rgba(26, 26, 104, 0.89);
    color: white;
}

.info {
    background: rgb(223, 223, 223);
    box-shadow: 0 0px 10px 0;
}

#city {
    padding-left: 10px;
} 

.input-group {
    padding-left: 20px;
    width: 90%;
    
}


.weekcard {
    background: rgba(26, 26, 104, 0.89);
    display: grid;
    justify-content: center;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 1px gray;
    margin: 10px;
}

.weekcard p {
    font-size: 20px;
}


